@model DentalClinicManagement.Models.Expense

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Accountant/Views/Shared/View.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expense_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expense_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
