@model DentalClinicManagement.Models.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/WebAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.services_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.services_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.services_about)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.services_about)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.services_photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.services_photo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
