@model IEnumerable<DentalClinicManagement.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WebAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Services</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-12 col-sm-12">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Service Name
                </th>
                <th>
                    Service About
                </th>
                <th>
                    Service Photo
                </th>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.services_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.services_about)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.services_photo)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    </div>
    </div>