@model DentalClinicManagement.Models.Message

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/WebAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message_subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message_subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message_text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
