@model IEnumerable<DentalClinicManagement.Models.Doctor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-md-12 col-sm-12">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Doctor Fullname
                </th>
                <th>
                    Doctor About
                </th>
                <th>
                    Doctor Photo
                </th>
                <th>
                    Doctor Phone
                </th>
                <th>
                    Doctor Address
                </th>
                <th>
                    Doctor Email
                </th>
                <th>
                    Doctor Education File
                </th>
                <th>
                    Doctor Salary
                </th>
                <th>
                    Doctor Begin Time
                </th>
                <th>
                    Doctor Start Time
                </th>
                <th>
                    Doctor Start Date
                </th>
                <th>
                    Doctor DAte of  Birth
                </th>
                <th>
                    Departmant 
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Marrige Status
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_about)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_photo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_education_file)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_begin_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_start_time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.doctor_date_of_birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.department_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.gender_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarrigeStatu.status_name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
         </div>
       </div>
    </div>